In [33]:
# STEP 1: Import Libraries and Load Data 
# Code adapted from Iqbal, M. (2026) 'Class_Demo_DT.ipynb', 
# Machine Learning module, CCT College Dublin.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Loading the abalone dataset
data = pd.read_csv('abalone.csv')

# Displaying the first 10 rows
print( "First 5 rows of the dataset")
print(data.head(10))

First 5 rows of the dataset
  Sex  Length  Diameter  Height  Whole_weight  Shucked_weight  Viscera_weight  \
0   M   0.455     0.365   0.095        0.5140          0.2245          0.1010
1   M   0.350     0.265   0.090        0.2255          0.0995          0.0485
2   F   0.530     0.420   0.135        0.6770          0.2565          0.1415
3   M   0.440     0.365   0.125        0.5160          0.2155          0.1140
4   I   0.330     0.255   0.080        0.2050          0.0895          0.0395
5   I   0.425     0.300   0.095        0.3515          0.1410          0.0775
6   F   0.530     0.415   0.150        0.7775          0.2370          0.1415
7   F   0.545     0.425   0.125        0.7680          0.2940          0.1495
8   M   0.475     0.370   0.125        0.5095          0.2165          0.1125
9   F   0.550     0.440   0.150        0.8945          0.3145          0.1510

   Shell_weight  Rings
0         0.150     15
1         0.070      7
2         0.210      9
3         0.155     10
4         0.055      7
5         0.120      8
6         0.330     20
7         0.260     16
8         0.165      9
9         0.320     19

In [34]:
# Checking the shape
print(" Dataset Shape ")
print(f"Rows: {data.shape[0]}, Columns: {data.shape[1]}")

 Dataset Shape
Rows: 4180, Columns: 9

In [35]:
#  STEP 2: Check for Missing Values and Duplicates 
# Code adapted from Iqbal, M. (2026) 'Class_Demo_DT.ipynb'

print("Missing values:")
print(data.isnull().sum())

Missing values:
Sex               0
Length            0
Diameter          0
Height            8
Whole_weight      0
Shucked_weight    5
Viscera_weight    5
Shell_weight      0
Rings             0
dtype: int64

In [36]:
duplicates = data.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 3

In [29]:
# STEP 3: Remove null values and duplicates

In [38]:
#I'll drop the null values and check
data = data.dropna()
print(data.isnull().sum())

Sex               0
Length            0
Diameter          0
Height            0
Whole_weight      0
Shucked_weight    0
Viscera_weight    0
Shell_weight      0
Rings             0
dtype: int64

In [39]:
data = data.drop_duplicates()
print(data.shape)

(4161, 9)